body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e6c63b !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #e6c63b !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e6c63b !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #e6c63b !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a68b15 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a68b15 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e6c63b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #e6c63b;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e6c63b;
  border-color: #e6c63b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e6c63b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e6c63b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #e6c63b;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e6c63b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e6c63b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e6c63b;
  border-bottom-color: #e6c63b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e6c63b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e6c63b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tBUN9vEBY8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-tBUN9vEBY8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBUN9vEBY8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBUN9vEBY8 .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tBUN9vEBY8 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tBUN9vEBY8 .mbr-iconfont {
  font-size: 2rem;
  color: #e6c63b;
  padding-right: 1.5rem;
}
.cid-tBUN9vEBY8 .card-text {
  color: #ffffff;
}
.cid-tBUN9vEBY8 .card-title {
  color: #ffffff;
}
.cid-tBUT80wfxi {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffe161;
}
.cid-tBUT80wfxi .mbr-text,
.cid-tBUT80wfxi .mbr-section-btn {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-tBUT80wfxi .mbr-text,
  .cid-tBUT80wfxi .mbr-section-btn {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .cid-tBUT80wfxi .mbr-text,
  .cid-tBUT80wfxi .mbr-section-title {
    text-align: center;
  }
}
.cid-tBUT80wfxi a.btn {
  height: 100%;
  margin: 0;
}
.cid-tBUT80wfxi .mbr-section-btn {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.cid-tBUT80wfxi .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-tBUT80wfxi .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tBUT80wfxi .justify-content-center {
  align-items: center;
}
.cid-tBUQoOGcye {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-2-1920x1920.png");
}
.cid-tBUQoOGcye .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBUQoOGcye .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBUQoOGcye .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tBUQoOGcye .item {
    margin-bottom: 4rem;
  }
}
.cid-tBUQoOGcye .item:last-child .icon-box:before {
  display: none;
}
.cid-tBUQoOGcye .item.last .icon-box:before {
  display: none;
}
.cid-tBUQoOGcye .icon-box {
  background: #e6c63b;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tBUQoOGcye .icon-box {
    margin-right: 1rem;
  }
}
.cid-tBUQoOGcye .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 30px;
  left: 50%;
  top: 124%;
  color: #e6c63b;
  transform: translate(-50%, 0);
}
.cid-tBUQoOGcye span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tBUQoOGcye .card {
    margin-bottom: 2rem;
  }
  .cid-tBUQoOGcye .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tBUQoOGcye .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-tBUQoOGcye .icon-box::before {
    top: 114%;
  }
}
.cid-tBUQoOGcye .card-title,
.cid-tBUQoOGcye .card-box {
  color: #ffffff;
}
.cid-tBUQoOGcye .icon-text {
  color: #ffffff;
}
.cid-tBUQoOGcye .icon-title {
  color: #e6c63b;
}
.cid-tBV1VaORVR {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffe161;
}
.cid-tBV1VaORVR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBV1VaORVR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBV1VaORVR .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-tBV1VaORVR .bg-facebook:hover {
  background: #0b60cb;
}
.cid-tBV1VaORVR .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-tBV1VaORVR .bg-twitter:hover {
  background: #0c85d0;
}
.cid-tBV1VaORVR .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-tBV1VaORVR .bg-instagram:hover {
  background: #bd005c;
}
.cid-tBV1VaORVR .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-tBV1VaORVR [class^="socicon-"]:before,
.cid-tBV1VaORVR [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tBV1VaORVR .mbr-section-title,
.cid-tBV1VaORVR .social-list {
  color: #4479d9;
}
.cid-tBUZphHGs2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #6592e6;
  overflow: hidden;
}
.cid-tBUZphHGs2 .media-container-row .mbr-text {
  color: #e6c63b;
}
.cid-tCAu9i7MOI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-tCAu9i7MOI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAu9i7MOI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCAu9i7MOI .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tCAu9i7MOI .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tCAu9i7MOI .mbr-iconfont {
  font-size: 2rem;
  color: #e6c63b;
  padding-right: 1.5rem;
}
.cid-tCAu9i7MOI .card-text {
  color: #ffffff;
}
.cid-tCAu9i7MOI .card-title {
  color: #e6c63b;
}
.cid-tCAA2HvgtW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAA2HvgtW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAA2HvgtW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCAA2HvgtW .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tCAA2HvgtW .card {
    margin-bottom: 2rem!important;
  }
  .cid-tCAA2HvgtW .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tCAA2HvgtW .link-wrap {
    align-items: center;
  }
}
.cid-tCAA2HvgtW .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tCAEo6stbj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #6592e6;
}
.cid-tCAEo6stbj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAEo6stbj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCAEo6stbj ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tCAEo6stbj li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tCAEo6stbj ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #e6c63b;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tCAEo6stbj .list {
  color: #000000;
  text-align: left;
}
.cid-tCAI4d1Dg2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAI4d1Dg2 img,
.cid-tCAI4d1Dg2 .item-img {
  width: 100%;
}
.cid-tCAI4d1Dg2 .item:focus,
.cid-tCAI4d1Dg2 span:focus {
  outline: none;
}
.cid-tCAI4d1Dg2 .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-tCAI4d1Dg2 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tCAI4d1Dg2 .item {
  padding: 0;
  margin: 0;
}
.cid-tCAI4d1Dg2 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #ffe161;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tCAI4d1Dg2 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCAI4d1Dg2 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tCAI4d1Dg2 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tCAI4d1Dg2 .mbr-section-title {
  color: #232323;
}
.cid-tBUZphHGs2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #6592e6;
  overflow: hidden;
}
.cid-tBUZphHGs2 .media-container-row .mbr-text {
  color: #e6c63b;
}
.cid-tCAuge7lti {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-tCAuge7lti .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAuge7lti .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCAuge7lti .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tCAuge7lti .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tCAuge7lti .mbr-iconfont {
  font-size: 2rem;
  color: #e6c63b;
  padding-right: 1.5rem;
}
.cid-tCAuge7lti .card-text {
  color: #ffffff;
}
.cid-tCAuge7lti .card-title {
  color: #e6c63b;
}
.cid-tCB9CvfW5a {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1-1920x1284.jpg");
}
.cid-tCB9CvfW5a .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCB9CvfW5a .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCB9CvfW5a .card-wrapper {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tCB9CvfW5a .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tCB9CvfW5a .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tCB9CvfW5a .card-wrapper {
    padding: 4rem;
  }
}
.cid-tCAQflRs82 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAQflRs82 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAQflRs82 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAQflRs82 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAQflRs82 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAQflRs82 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAQflRs82 .mbr-description {
  text-align: left;
}
.cid-tCARKpiWhd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCARKpiWhd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCARKpiWhd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCARKpiWhd .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCARKpiWhd img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCARKpiWhd .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCARKpiWhd .mbr-description {
  text-align: left;
}
.cid-tCARKIFZjS {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCARKIFZjS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCARKIFZjS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCARKIFZjS .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCARKIFZjS img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCARKIFZjS .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCARKIFZjS .mbr-description {
  text-align: left;
}
.cid-tCARKNqmdP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCARKNqmdP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCARKNqmdP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCARKNqmdP .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCARKNqmdP img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCARKNqmdP .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCARKNqmdP .mbr-description {
  text-align: left;
}
.cid-tCARKRNVp1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCARKRNVp1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCARKRNVp1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCARKRNVp1 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCARKRNVp1 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCARKRNVp1 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCARKRNVp1 .mbr-description {
  text-align: left;
}
.cid-tCARKWaIku {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCARKWaIku .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCARKWaIku .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCARKWaIku .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCARKWaIku img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCARKWaIku .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCARKWaIku .mbr-description {
  text-align: left;
}
.cid-tCAWLuul0o {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAWLuul0o .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAWLuul0o .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAWLuul0o .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAWLuul0o img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAWLuul0o .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAWLuul0o .mbr-description {
  text-align: left;
}
.cid-tCAWLWK3fo {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAWLWK3fo .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAWLWK3fo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAWLWK3fo .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAWLWK3fo img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAWLWK3fo .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAWLWK3fo .mbr-description {
  text-align: left;
}
.cid-tCAWM1V4y0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAWM1V4y0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAWM1V4y0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAWM1V4y0 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAWM1V4y0 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAWM1V4y0 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAWM1V4y0 .mbr-description {
  text-align: left;
}
.cid-tCAWMKcc5H {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAWMKcc5H .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAWMKcc5H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAWMKcc5H .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAWMKcc5H img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAWMKcc5H .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAWMKcc5H .mbr-description {
  text-align: left;
}
.cid-tCAXJxsWmI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXJxsWmI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXJxsWmI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXJxsWmI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXJxsWmI img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXJxsWmI .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXJxsWmI .mbr-description {
  text-align: left;
}
.cid-tCAXJIXVRx {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXJIXVRx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXJIXVRx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXJIXVRx .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXJIXVRx img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXJIXVRx .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXJIXVRx .mbr-description {
  text-align: left;
}
.cid-tCAXJPeQBv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXJPeQBv .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXJPeQBv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXJPeQBv .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXJPeQBv img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXJPeQBv .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXJPeQBv .mbr-description {
  text-align: left;
}
.cid-tCAXJV1QqR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXJV1QqR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXJV1QqR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXJV1QqR .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXJV1QqR img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXJV1QqR .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXJV1QqR .mbr-description {
  text-align: left;
}
.cid-tCAXK8pG8N {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXK8pG8N .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXK8pG8N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXK8pG8N .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXK8pG8N img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXK8pG8N .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXK8pG8N .mbr-description {
  text-align: left;
}
.cid-tCAXLEhqKl {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXLEhqKl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXLEhqKl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXLEhqKl .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXLEhqKl img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXLEhqKl .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXLEhqKl .mbr-description {
  text-align: left;
}
.cid-tCAXLMfF32 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXLMfF32 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXLMfF32 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXLMfF32 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXLMfF32 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXLMfF32 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXLMfF32 .mbr-description {
  text-align: left;
}
.cid-tCAXLQTPX8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXLQTPX8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXLQTPX8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXLQTPX8 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXLQTPX8 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXLQTPX8 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXLQTPX8 .mbr-description {
  text-align: left;
}
.cid-tCAXLXq8FI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXLXq8FI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXLXq8FI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXLXq8FI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXLXq8FI img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXLXq8FI .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXLXq8FI .mbr-description {
  text-align: left;
}
.cid-tCAXM4D79S {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXM4D79S .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXM4D79S .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXM4D79S .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXM4D79S img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXM4D79S .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXM4D79S .mbr-description {
  text-align: left;
}
.cid-tCAXWnH0wp {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXWnH0wp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXWnH0wp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXWnH0wp .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXWnH0wp img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXWnH0wp .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXWnH0wp .mbr-description {
  text-align: left;
}
.cid-tCAXWslvLf {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXWslvLf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXWslvLf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXWslvLf .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXWslvLf img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXWslvLf .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXWslvLf .mbr-description {
  text-align: left;
}
.cid-tCAXWwYTAV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXWwYTAV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXWwYTAV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXWwYTAV .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXWwYTAV img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXWwYTAV .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXWwYTAV .mbr-description {
  text-align: left;
}
.cid-tCAXWDaPiD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXWDaPiD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXWDaPiD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXWDaPiD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXWDaPiD img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXWDaPiD .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXWDaPiD .mbr-description {
  text-align: left;
}
.cid-tCAXWJq51g {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXWJq51g .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXWJq51g .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXWJq51g .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXWJq51g img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXWJq51g .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXWJq51g .mbr-description {
  text-align: left;
}
.cid-tCAXWOkhEy {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXWOkhEy .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXWOkhEy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXWOkhEy .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXWOkhEy img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXWOkhEy .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXWOkhEy .mbr-description {
  text-align: left;
}
.cid-tCAXWTvv0J {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAXWTvv0J .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAXWTvv0J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAXWTvv0J .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAXWTvv0J img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAXWTvv0J .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAXWTvv0J .mbr-description {
  text-align: left;
}
.cid-tCAY6v555G {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAY6v555G .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAY6v555G .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAY6v555G .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAY6v555G img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAY6v555G .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAY6v555G .mbr-description {
  text-align: left;
}
.cid-tCAY6C39LX {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAY6C39LX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAY6C39LX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAY6C39LX .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAY6C39LX img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAY6C39LX .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAY6C39LX .mbr-description {
  text-align: left;
}
.cid-tCAY6GYw4H {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAY6GYw4H .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAY6GYw4H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAY6GYw4H .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAY6GYw4H img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAY6GYw4H .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAY6GYw4H .mbr-description {
  text-align: left;
}
.cid-tCAY6W0JwV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffe161;
}
.cid-tCAY6W0JwV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAY6W0JwV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCAY6W0JwV .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCAY6W0JwV img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAY6W0JwV .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCAY6W0JwV .mbr-description {
  text-align: left;
}
.cid-tBUZphHGs2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #6592e6;
  overflow: hidden;
}
.cid-tBUZphHGs2 .media-container-row .mbr-text {
  color: #e6c63b;
}
.cid-tCAu5636uj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-tCAu5636uj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAu5636uj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCAu5636uj .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tCAu5636uj .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tCAu5636uj .mbr-iconfont {
  font-size: 2rem;
  color: #e6c63b;
  padding-right: 1.5rem;
}
.cid-tCAu5636uj .card-text {
  color: #ffffff;
}
.cid-tCAu5636uj .card-title {
  color: #e6c63b;
}
.cid-tCAtPjAuNO {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffe161;
}
.cid-tCAtPjAuNO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCAtPjAuNO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCAtPjAuNO .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCAtPjAuNO .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
.cid-tBUZphHGs2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #6592e6;
  overflow: hidden;
}
.cid-tBUZphHGs2 .media-container-row .mbr-text {
  color: #e6c63b;
}
